<%= form_tag password_reset_path, :method => :put do %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>

		<div class="col-md-4" style="padding-top: 150px;">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title" style="padding-top: 20px;">Şifre Değiştirme</h4>
					<p class="card-category">Şifrenizi girdikten sonra güncelle butonuna basınız.</p>
				</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating">Şifre</label>
									<input type="password" name="password" class="form-control">
									<%= hidden_field_tag :token, @token %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating">Tekrar Şifre</label>
									<input type="password" name="password" class="form-control">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" name="commit" value="Güncelle" class="btn btn-primary btn-block">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
<% end %>

