 <footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Bera Ar-Ge & Yazılım & Danışmanlık 
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      2018<i class="material-icons">favorite</i>
      <a href="http://berayazilim.net" target="_blank">Bera Ar-Ge & Yazılım & Danışmanlık </a> tarafından hazırlanmıştır.
    </div>
  </div>
</footer>